/*
 * nextflow.config — Session 12
 */

params {
    input  = "${projectDir}/data/samplesheet/greetings.csv"
    outdir = "results"
}

profiles {
    debug {
        // dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    test {
        params.input  = "${projectDir}/data/samplesheet/greetings.csv"
        params.outdir = "results"
    }
}
