/*
 * nf-test.config
 *
 * Tells nf-test where to find tests, where to put work files,
 * and which nextflow.config to use when running tests.
 *
 * After running `nf-test init` this file is created automatically.
 * Here it is pre-populated so you can start running tests immediately.
 */

config {
    testsDir "tests"
    workDir  ".nf-test"
    configFile "nextflow.config"
    withTrace true
}
